<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Browse by Year</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/types">By Type</a> |
      <a href="/regions">By Region</a> |
      <a href="/years">By Year</a>
    </nav>
    </br>
    <h1>Browse by Year</h1>
    </br>    
    <h2 style="text-align: center;">Select a year to view the electric vehicles made in that year.</h2>

    <ul class="lonks" style="line-height: 2rem;">
      $$$YEAR_LIST$$$
    </ul>

  </body>
</html>